@model Escc.Redirects.Admin.MVC.Models.Redirect
<p></p>
<div class="panel panel-success">
    @{
        if (Model.Type == 1)
        {
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Short Url</div>
        }
        else if (Model.Type == 2)
        {
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Moved Url</div>
        }
    }
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                @using (Html.BeginForm("Add", "Update", FormMethod.Post))
            {
                    <div class="form-group">
                        @Html.HiddenFor(model => model.Type)
                        <div class="well">
                            @Html.LabelFor(model => model.Pattern)
                            @Html.TextBoxFor(model => model.Pattern, new { @placeholder = "Pattern", @class = "form-control" })
                            @{
                                if (Model.Type == 1)
                                {
                                    <span class="help-block">This is the url you want to use</span>
                                }
                                else
                                {
                                    <span class="help-block">This is where you are. For example, for "https://www.eastsussex.gov.uk/alerts" just type "alerts"</span>
                                }
                            }
                        </div>
                        <div class="well">
                            @Html.LabelFor(model => model.Destination)
                            @Html.TextBoxFor(model => model.Destination, new { @placeholder = "Destination", @class = "form-control" })
                            <span class="help-block">This is where your going. Make sure to use the whole URL, for example "https://www.eastsussex.gov.uk/jobs" </span>
                        </div>
                        <div class="well">
                            @Html.LabelFor(model => model.Comment)
                            @Html.TextBoxFor(model => model.Comment, new { @placeholder = "Comment", @class = "form-control" })
                            <span class="help-block">Why has this redirect been added? Who requested it? Who added it?</span>
                        </div>
                        <div class="col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>
</div>